# Introduction to postgres SQL

This notebook is meant to be a short introduction to relational database queries using SQL.

Note that you will need to load the database first (see that notebook for more information).

Make sure that you change <USERNAME> below to your own username!

In [ ]:
#load the ipython-sql magic extension
#allows us to run SQL directly in notebook cells
%reload_ext sql

##Connect to the database
%sql postgresql://postgres:postpost@localhost:5433/ensembl
#%sql postgresql://<USERNAME>@localhost/ensembl

# Review: What is a Relational Database?

- Collection of tables with *relationships* between them
     - We will define this as we go on
- Managed by a database management system (DBMS) which controls:
     - Who can access which table (role-based access)
     - Who can modify which table using *transactions*
     - Define how transactions modify the tables
     - Provide a way to "undo" transactions (rolling back)
     - Back up databases

# What is Structured Query Language?

- [Standard computer language](https://www.techopedia.com/definition/1245/structured-query-language-sql) for Databases and DBMSs
- SQL is used to 
    - query data
    - insert data
    - update data
    - modify data
- *Unfortunately*, SQL is defined differently for different DBMSs
    - [Many "dialects" of SQL](https://en.wikibooks.org/wiki/SQL_Dialects_Reference/Introduction) (MS SQL, MySQL, Postgres SQL, SQLite, etc)
    - This means that different DBMSs have different capabilities
        - SQLite: very lightweight and minimal implementation 
        - PostgreSQL: much more heavyweight
        - MS SQL Server: still used quite a bit

More on the differences between DBMSs here: http://troels.arvin.dk/db/rdbms/

# SELECTing FROM a table in the database

All SQL queries have the following form:

```
SELECT *columns*  <- required
FROM *table*      <- required
WHERE *criteria*  <- this clause is optional  
```

The very first thing we can do is return all the columns from a query using `*` (the SQL wildcard character). But remember, we need a `FROM` clause as well to make our query complete.

In [ ]:
%sql SELECT * FROM gene LIMIT 20;

# WHERE

WHERE is an optional clause, but it lets us add filtering criteria to your query. We use the LIMIT clause to only show the first 20 lines of our table.

In [ ]:
%sql SELECT * FROM gene WHERE chromosome = '14' LIMIT 20;

# Boolean Operations

We can chain criteria together by using the `AND`/`OR` boolean operations.

In [ ]:
%%sql
SELECT * FROM gene WHERE gene_end < 100000 AND chromosome = '10'

## Think about it

Should an AND query be *larger* or *smaller* than an OR query?

In [ ]:
%%sql
SELECT * FROM gene WHERE gene_end < 100000 OR chromosome = '10'

# SELECTING columns

You can select individual columns of each table using the SELECT statement. 

Note that we have to put our chromosome (`14`) in quotes since the datatype of the column is character.

In [ ]:
%%sql 
SELECT ensembl_gene_id, gene_start, chromosome 
FROM gene
WHERE chromosome = '14'

# Your Turn

Write a SELECT statement that returns everything from the `gene` table if gene_symbol = `FGFR2`

In [ ]:
%sql

# Aliases using AS

One useful trick we can use are *aliases*. This becomes more important as we join tables together, since it:

1. Saves us typing
2. Makes our query more clear and specific. 

You can see that `ensembl_gene_id` might be in multiple tables. Postgres gets confused if we don't.

In general, you can use an alias *before* you define it in the query, which is confusing. You just need to define it somewhere (usually in the FROM clause).

When you refer to a column, it is best to preface it with the *alias* so your query is exact.

In [ ]:
%%sql 
SELECT g.ensembl_gene_id, g.gene_start, g.chromosome 
    FROM gene as g
    WHERE chromosome = '14' LIMIT 10;

We can also rename our columns using AS:

In [ ]:
%%sql 
SELECT ensembl_gene_id as ensembl, gene_start, chromosome FROM gene
WHERE chromosome = '14' LIMIT 20;

# Aggregating using COUNT

The COUNT verb in SQL lets us count things. If we use COUNT(ensembl_gene_id), it will count the number of

In [ ]:
%sql SELECT COUNT(ensembl_transcript_id) FROM transcript;

In [ ]:
%sql SELECT COUNT(DISTINCT ensembl_gene_id) FROM gene2transcript;

# GROUP BY

GROUP BY is extremely useful if we want to produce a table of counts. Note that to produce a table with counts, we need to return both `chromosome` and `COUNT(chromosome)`.

In [ ]:
%sql SELECT chromosome, COUNT(chromosome) FROM gene GROUP BY chromosome;

# ORDER BY

That's great and everything, but that doesn't answer the question of which chromosome has the largest number of mapped genes. 

By adding an `ORDER BY` clause followed by a `DESC`, we can sort our result table.

In [ ]:
%%sql 
    SELECT chromosome, COUNT(chromosome) as count 
        FROM gene 
        GROUP BY chromosome 
        ORDER BY count DESC;

# Your Turn

How many genes are mapped to the `1` (+) strand and how many genes are mapped to the `-1` (-) strand?

In [ ]:
%sql

# JOINing the Tables

Of course, our `transcript` and `gene` tables aren't that useful by themselves. We need to integrate information in these tables to produce useful queries.

We will use what are called JOINs on the data, to produce a table that has information about genes and their transcripts.

# The Different JOIN types

I apologize for the different tables here. However, these figures took a long time to make and I don't have the time to make bioinformatics specific ones.

- INNER JOIN

Only retains the rows which are in common between the two joined tables.

![](docs/image/Slide3.JPG)

- LEFT JOIN

Retains everything in INNER JOIN, plus those rows in the LEFT table.

![](docs/image/Slide4.JPG)

- RIGHT JOIN

Retains everything in INNER JOIN, plus those rows in the RIGHT table.

- OUTER JOIN

Retains ALL rows in both tables, regardless of whether there is matching criteria.

## Quiz Yourself

How many rows would there be in the results table above if we RIGHT JOINed instead?

# LEFT JOIN in action

Now, let's try a `LEFT JOIN` on our data.

In [ ]:
%%sql 
    SELECT g.ensembl_gene_id, 
        g.gene_start, 
        g.gene_symbol, 
        t2g.ensembl_transcript_id
    FROM gene AS g
    LEFT JOIN gene2transcript AS t2g 
        ON g.ensembl_gene_id = t2g.ensembl_gene_id 
    LIMIT 20;

You may recall that we have **three** tables: `gene`, `gene2transcript` and `transcript`. To join together `gene` and `transcript`, our `LEFT JOIN` has to include all three tables. 

We can do this by adding another `LEFT JOIN` clause to our query. Here we're adding in the `transcript` table by including the criteria `t2g.ensembl_transcript_id` = `t.ensembl_transcript_id`.

In [ ]:
%%sql 
    SELECT g.ensembl_gene_id, g.gene_start, g.gene_symbol, t.ensembl_transcript_id, t.transcript_start
    FROM gene AS g
    LEFT JOIN gene2transcript AS t2g 
        ON g.ensembl_gene_id = t2g.ensembl_gene_id 
    LEFT JOIN transcript AS t 
        ON t2g.ensembl_transcript_id = t.ensembl_transcript_id
    LIMIT 10;

# Use Case: Finding Overlapping Genes

One query we might do is to find all of the overlapping genes in our database. 

That is, we want those genes where 

```
gene1.gene_symbol != gene2.gene_symbol
gene1.chromosome = gene2.chromosome
gene1.start > gene2.end and 
gene2.end < gene.1 start and
```

How do we do this, since we only have 1 table? We need to do what is called a SELF JOIN. 

Basically, we make two aliases for our table, called `g1` and `g2`. Then we can join these two tables just like any other join. Here we use an `INNER JOIN`.

Note that additional filtering criteria are added in our `WHERE` clause.

In [ ]:
%%sql
    SELECT g1.gene_symbol AS gene1, 
        g2.gene_symbol AS gene2,
        g1.gene_start as g1_start,
        g2.gene_start as g2_start,
        g1.gene_end as g1_end,
        g2.gene_end as g2_end
    FROM gene AS g1
    INNER JOIN gene AS g2
        ON g1.gene_symbol != g2.gene_symbol 
    WHERE g1.gene_start <= g2.gene_end
        AND g1.gene_end >= g2.gene_start
        AND g1.chromosome = g2.chromosome
        LIMIT 20;

# Using EXPLAIN ANALYZE to find out why our query is slow

Because we are joining and scanning many tables for a query, some of the more complicated ones may take a lot longer to run.

If we add `EXPLAIN ANALYZE` to the beginning of our query, we will understand what tasks the Database Management System (DBMS) take the longest.

In [ ]:
#Need to run this for demo purposes
%sql DROP INDEX IF EXISTS ChrStartEnd;

In [ ]:
%%sql
    EXPLAIN ANALYZE
    SELECT g1.gene_symbol AS gene1, 
        g2.gene_symbol AS gene2,
        g1.gene_start as g1_start,
        g2.gene_start as g2_start,
        g1.gene_end as g1_end,
        g2.gene_end as g2_end
    FROM gene AS g1
    INNER JOIN gene AS g2
        ON g1.gene_symbol != g2.gene_symbol 
    WHERE g1.gene_start <= g2.gene_end
        AND g1.gene_end >= g2.gene_start
        AND g1.chromosome = g2.chromosome;

# Indexing: making a query faster

Querying takes time, because we have to scan the whole table.

However, if there is a column we query a lot, we can create a **index** for it. This index allows us to query the table faster.

Much like the other data structures we use in Python, an *index* takes the form of a B-Tree, which allows for much more rapid searching of the data. 

Why don't we index everything? Well, indexes take a lot of disk space. So we are better off picking and choosing which columns we want to index. This is based on what kinds of queries and searches that are the most commonly done on a table.

There are data engineers whose job it is to tune the database to make queries run faster. Don't worry too much if this is confusing right now. Just know who you're going to talk with when you need a database query to run lightning fast.

In [ ]:
%%sql
CREATE INDEX ChrStartEnd on gene(chromosome, gene_start, gene_end)

Now try running the query again with `EXPLAIN ANALYZE`. How much faster was it on your machine?

In [ ]:
%%sql
    EXPLAIN ANALYZE
    SELECT g1.gene_symbol AS gene1, 
        g2.gene_symbol AS gene2,
        g1.gene_start as g1_start,
        g2.gene_start as g2_start,
        g1.gene_end as g1_end,
        g2.gene_end as g2_end
    FROM gene AS g1
    INNER JOIN gene AS g2
        ON g1.gene_symbol != g2.gene_symbol 
    WHERE g1.gene_start <= g2.gene_end
        AND g1.gene_end >= g2.gene_start
        AND g1.chromosome = g2.chromosome;

# Indexing and Primary Keys

In our next session, we will be learning some useful terminology for our database: 
- *Primary Keys*, which uniquely identify a row in a table
- *Foreign Keys*, which refer to a key in another table

# Useful to know: Subqueries

This has been a lot of SQL to throw at you! So I'm making this last section optional.

Sometimes it's useful to break up complicated queries into subqueries. Basically any query that returns a table can be used in a FROM statement, but you must create an alias for the subquery.

In [ ]:
%%sql
SELECT ensembl_gene_id, gene_symbol
    FROM
    (SELECT * FROM gene WHERE chromosome = '1') AS subquery
    WHERE subquery.gene_start >= 1000000

Another clause is `UNION`, which can combine two subqueries, basically paste one of the subquery tables on top of another.

In [ ]:
%%sql
    (SELECT * FROM gene WHERE gene_symbol = 'TP53') 
    UNION
    (SELECT* FROM gene WHERE gene_symbol = 'FGFR2')

# Fix Me!

Why does this UNION query not work? 

Modify the bottom subquery to work with the top subquery.

In [ ]:

%%sql
    (SELECT ensembl_gene_id, gene_symbol 
     FROM gene 
     WHERE gene_symbol = 'TP53')
    UNION
    (SELECT *
     FROM gene 
     WHERE gene_symbol = 'FGFR2')

# What's Next?

We'll learn some of the intricacies about Database Design and Normalization. Stay tuned!

# Acknowledgements

This notebook was adapted from a tutorial by Christina Zheng.