In [1]:
%reload_ext sql

##Connect to the database
%sql postgresql://postgres:postpost@localhost:5433/ensembl
#%sql postgresql://<USERNAME>@localhost/ensembl

'Connected: postgres@ensembl'

# Learning Objectives

- **Understand** database anomalies and how they lead to dirty data
- **Understand** what problems database normalization solves
- **Identify** whether a table is in 1st Normal Form (1NF) and how to fix it if it isn't
- **Identify** whether a table is in 2nd Normal Form (2NF) and how to fix it if it isn't.
- **Identify** whether a table in in 3rd Normal Form (3NF) and how to fix it.
- **Understand** the tradeoffs between normalization and database complexity

# Why does data get dirty in a database?

Unforseen data dependencies can make our data dirty and inconsistent.

Oftentimes, we are given a dataset in a form that has dependencies.

What kind of dependencies are we talking about?

- Non-unique rows in our database
- Rows that have repeated primary keys
- Different entities and their associated info stored into the same table

## Motivating Example

Let's start with a table of genes and pathways. Remember to update the file path below with the *absolute* file path of the file!

In [69]:
%%sql
  DROP TABLE IF EXISTS gene_and_pathway;
  CREATE TABLE gene_and_pathway 
    (
      ensembl_gene_id CHARACTER (25) NOT NULL,
      gene_symbol CHARACTER (30) NOT NULL,
      reactome_pathway_id CHARACTER (25),
      reactome_pathway_name CHARACTER VARYING,
      immune_pathway BOOLEAN
  );  
  COPY gene_and_pathway( gene_symbol, ensembl_gene_id, reactome_pathway_id, reactome_pathway_name, immune_pathway)
FROM 'c:/Code/BMI535slides/data/pathway_gene.csv' DELIMITER ',' CSV HEADER;

 * postgresql://postgres:***@localhost:5433/ensembl
Done.
Done.
7 rows affected.

[]

In [70]:
%sql SELECT * FROM gene_and_pathway

 * postgresql://postgres:***@localhost:5433/ensembl
7 rows affected.

[('ENSG00000198793          ', 'JAK1                          ', 'R-HSA-168256             ', 'Immune System', True),
 ('ENSG00000198793          ', 'JAK1                          ', 'R-HSA-913531             ', 'Interferon Signaling', True),
 ('ENSG00000142208          ', 'AKT1                          ', 'R-HSA-168256             ', 'Immune System', True),
 ('ENSG00000142208          ', 'AKT1                          ', 'R-HSA-382551             ', 'Transport of small molecules', False),
 ('ENSG00000162434          ', 'MTOR                          ', 'R-HSA-168256             ', 'Immune System', True),
 ('ENSG00000168610          ', 'STAT3                         ', 'R-HSA-168256             ', 'Immune System', True),
 ('ENSG00000168610          ', 'STAT3                         ', 'R-HSA-382551             ', 'Transport of small molecules', False)]

# QUESTION

What is the cardinality (one-to-one, one-to-many, or many-to-many) between `gene_symbol` and `reactome_pathway_name`?

# INSERTION anomaly

Bad things can happen if we don't add a complete row. Say we just want to add the gene `FGF7` into our table;

In [71]:
%%sql
    INSERT INTO gene_and_pathway(ensembl_gene_id, gene_symbol)
    VALUES ('ENSG00000140285', 'FGF7');

 * postgresql://postgres:***@localhost:5433/ensembl
1 rows affected.

[]

In [72]:
%%sql
    SELECT * FROM gene_and_pathway;

 * postgresql://postgres:***@localhost:5433/ensembl
8 rows affected.

[('ENSG00000198793          ', 'JAK1                          ', 'R-HSA-168256             ', 'Immune System', True),
 ('ENSG00000198793          ', 'JAK1                          ', 'R-HSA-913531             ', 'Interferon Signaling', True),
 ('ENSG00000142208          ', 'AKT1                          ', 'R-HSA-168256             ', 'Immune System', True),
 ('ENSG00000142208          ', 'AKT1                          ', 'R-HSA-382551             ', 'Transport of small molecules', False),
 ('ENSG00000162434          ', 'MTOR                          ', 'R-HSA-168256             ', 'Immune System', True),
 ('ENSG00000168610          ', 'STAT3                         ', 'R-HSA-168256             ', 'Immune System', True),
 ('ENSG00000168610          ', 'STAT3                         ', 'R-HSA-382551             ', 'Transport of small molecules', False),
 ('ENSG00000140285          ', 'FGF7                          ', None, None, None)]

Uh oh! We've introduced an *insert* anomaly; because we only added the `gene` information (`ensembl_gene_id` and `gene_symbol`) - our row is missing information.

# Deletion Anomaly

Something equally bad happens if we try to delete `JAK1` from our table. What pathway was lost when we deleted?

In [73]:
%%sql
    DELETE FROM gene_and_pathway WHERE gene_symbol = 'JAK1';

 * postgresql://postgres:***@localhost:5433/ensembl
2 rows affected.

[]

In [74]:
%sql SELECT * FROM gene_and_pathway;

 * postgresql://postgres:***@localhost:5433/ensembl
6 rows affected.

[('ENSG00000142208          ', 'AKT1                          ', 'R-HSA-168256             ', 'Immune System', True),
 ('ENSG00000142208          ', 'AKT1                          ', 'R-HSA-382551             ', 'Transport of small molecules', False),
 ('ENSG00000162434          ', 'MTOR                          ', 'R-HSA-168256             ', 'Immune System', True),
 ('ENSG00000168610          ', 'STAT3                         ', 'R-HSA-168256             ', 'Immune System', True),
 ('ENSG00000168610          ', 'STAT3                         ', 'R-HSA-382551             ', 'Transport of small molecules', False),
 ('ENSG00000140285          ', 'FGF7                          ', None, None, None)]

# What Can We do about these Anomalies?

In short, we can ensure that our data is *normalized* before we add it to our database. 

We have a *many* to *many* relationship in our table between the *gene* entity and the pathway entity. That is, genes participate in multiple pathways and pathways contain multiple genes.

# The 1st Normal Form (1NF)

Our journey to normalizing the data starts with the first normal form.

- Data is stored in tables with rows uniquely identified by a primary key
- Data within each table is stored in individual columns in its most reduced form
- There are no repeating groups (such as reactome_pathway_id1, reactome_pathway_id2)

Does our data meet this format?

1. No. We don't meet this criteria, since there is not a primary key identified that is unique to each row.
2. Yes. This appears to be the case, as we don't have any fields that contain multiple values in them.
3. Yes. There are no repeating columns.

Ok, let's try this again, fixing criteria 1. One thing that will make a unique primary key is to make a COMPOSITE key, which is using multiple columns to make a primary key. We can do that by adding a PRIMARY KEY constraint to our table.

In [76]:
%%sql
  DROP TABLE IF EXISTS gene_and_pathway;
  CREATE TABLE gene_and_pathway 
    (
      ensembl_gene_id CHARACTER (25) NOT NULL,
      gene_symbol CHARACTER (30) NOT NULL,
      reactome_pathway_id CHARACTER (25),
      reactome_pathway_name CHARACTER VARYING, 
      immune_pathway BOOLEAN,
      PRIMARY KEY (ensembl_gene_id, reactome_pathway_id)
  );  
  COPY gene_and_pathway(gene_symbol, ensembl_gene_id, reactome_pathway_id, reactome_pathway_name, immune_pathway)
FROM 'c:/Code/BMI535slides/data/pathway_gene.csv' DELIMITER ',' CSV HEADER;

 * postgresql://postgres:***@localhost:5433/ensembl
Done.
Done.
7 rows affected.

[]

In [77]:
%sql SELECT * FROM gene_and_pathway;

 * postgresql://postgres:***@localhost:5433/ensembl
7 rows affected.

[('ENSG00000198793          ', 'JAK1                          ', 'R-HSA-168256             ', 'Immune System', True),
 ('ENSG00000198793          ', 'JAK1                          ', 'R-HSA-913531             ', 'Interferon Signaling', True),
 ('ENSG00000142208          ', 'AKT1                          ', 'R-HSA-168256             ', 'Immune System', True),
 ('ENSG00000142208          ', 'AKT1                          ', 'R-HSA-382551             ', 'Transport of small molecules', False),
 ('ENSG00000162434          ', 'MTOR                          ', 'R-HSA-168256             ', 'Immune System', True),
 ('ENSG00000168610          ', 'STAT3                         ', 'R-HSA-168256             ', 'Immune System', True),
 ('ENSG00000168610          ', 'STAT3                         ', 'R-HSA-382551             ', 'Transport of small molecules', False)]

Hmm. Now we have unique rows defined by our primary key, but we can see we still have repeating information across rows. 

For example, we can see that multiple genes participate in the `Immune System` pathway, and that we repeat the `reactome_pathway_id` (R-HSA-168256) and the `reactome_pathway_name` (Immune system) multiple times. 

We also have repeating information in the `ensembl_gene_id` and `gene_symbol` fields. This is bad, and as we've seen it can lead to anomalies.

# Second Normal Form (2NF)

We can take it further and normalize this table to 2nd Normal Form (2NF). The requirements for 2NF are:

- Everything from 1NF
- Only data that relates to a table's primary key is stored in each table

So, do the above tables satisfy 2NF conditions?

Well, it seems like we are storing two different entities in our database: *gene*, and *pathway*. We want everything in the *gene* table to just be dependent on `ensembl_gene_id`. In other words, we want the data in each of these tables to be *functionally related*.

So, what we really need to do is to take our table apart into multiple tables, and split our composite key (ensembl_gene_id and reactome_pathway_id) into their own primary keys.

Let's try separating the `pathway` information out first. We can do this by using a `SELECT DISTINCT` query.

Next, we add an id column with the constraint `SERIAL PRIMARY KEY`:

In [120]:
%%sql
    DROP TABLE IF EXISTS pathway CASCADE;
    CREATE TABLE pathway AS
        (SELECT DISTINCT reactome_pathway_id, reactome_pathway_name, immune_pathway
        FROM gene_and_pathway);
    ALTER TABLE pathway
        ADD COLUMN id SERIAL PRIMARY KEY;
    SELECT * FROM pathway;

 * postgresql://postgres:***@localhost:5433/ensembl
Done.
3 rows affected.
Done.
3 rows affected.

[('R-HSA-913531             ', 'Interferon Signaling', True, 1),
 ('R-HSA-168256             ', 'Immune System', True, 2),
 ('R-HSA-382551             ', 'Transport of small molecules', False, 3)]

Now let's go and build the `ensembl_gene` table using a similar tactic.

In [128]:
%%sql
    DROP TABLE IF EXISTS ensembl_gene CASCADE;
    CREATE TABLE ensembl_gene AS
        (SELECT DISTINCT ensembl_gene_id, gene_symbol
        FROM gene_and_pathway);
    ALTER TABLE ensembl_gene
       ADD COLUMN id SERIAL PRIMARY KEY;
    SELECT * FROM ensembl_gene;

 * postgresql://postgres:***@localhost:5433/ensembl
Done.
4 rows affected.
Done.
4 rows affected.

[('ENSG00000168610          ', 'STAT3                         ', 1),
 ('ENSG00000198793          ', 'JAK1                          ', 2),
 ('ENSG00000142208          ', 'AKT1                          ', 3),
 ('ENSG00000162434          ', 'MTOR                          ', 4)]

The final table we need to create defines the relationship between our `ensembl_gene` table and our `pathway` table. This is especially important given the many-to-many relationship between `ensembl_gene` and `pathway`. This table is called a *bridge table* and we want it to map the `id` column from both tables.

For many-to-many relationships, you should use a *bridge* table, because it simplifies . For one-to-many

The first thing we need to do is grab the `ensembl_gene_id` and `reactome_pathway_id` and put it into a new table.

In [122]:
%%sql
    DROP TABLE IF EXISTS gene_to_pathway;
    CREATE TABLE gene_to_pathway AS
    (
        SELECT DISTINCT ensembl_gene_id, reactome_pathway_id
        FROM gene_and_pathway
    );
    SELECT * FROM gene_to_pathway;

 * postgresql://postgres:***@localhost:5433/ensembl
Done.
7 rows affected.
7 rows affected.

[('ENSG00000162434          ', 'R-HSA-168256             '),
 ('ENSG00000198793          ', 'R-HSA-913531             '),
 ('ENSG00000142208          ', 'R-HSA-168256             '),
 ('ENSG00000198793          ', 'R-HSA-168256             '),
 ('ENSG00000168610          ', 'R-HSA-382551             '),
 ('ENSG00000168610          ', 'R-HSA-168256             '),
 ('ENSG00000142208          ', 'R-HSA-382551             ')]

Now we have that, we can build our bridge table by SELECTing the `id`s from the tables by doing two `LEFT JOINS`:

In [123]:
%%sql
DROP TABLE IF EXISTS g2p;
CREATE table g2p AS
(SELECT g.id AS e_gene_id, p.id AS r_path_id FROM
    gene_to_pathway AS g2p
    LEFT JOIN pathway AS p
        ON g2p.reactome_pathway_id = p.reactome_pathway_id
    LEFT JOIN ensembl_gene AS g
        ON g2p.ensembl_gene_id = g.ensembl_gene_id);

ALTER table g2p
    ADD CONSTRAINT p_key
        FOREIGN KEY (r_path_id) REFERENCES
        pathway(id) ON DELETE CASCADE;

ALTER TABLE g2p
    ADD CONSTRAINT g_key
        FOREIGN KEY (e_gene_id) REFERENCES
        ensembl_gene(id) ON DELETE CASCADE;
        
SELECT * FROM g2p;

 * postgresql://postgres:***@localhost:5433/ensembl
Done.
7 rows affected.
Done.
Done.
7 rows affected.

[(4, 2), (2, 1), (3, 2), (2, 2), (1, 3), (1, 2), (3, 3)]

## Exercise to do later

Reconstruct the original table from the `ensembl_gene`, `pathway` and `g2p` tables using a SQL query.

In [ ]:
%%sql

# Third Normal Form (3NF)

- Everything from 2NF
- There are no in-table (transitive) dependencies between the columns in each table

Ok, what is a *transitive* dependency in a table?

This is a tricky concept, but a transitive dependency means that a value is dependent on the primary key, but also on another *column* in the table.

The most common form of a *transitive dependency* is when you derive a column based on another column.

One example might be the following table:

- customer_id
- zip_code
- city

Ask yourself: *If I know `zip code`, do I know `city`*? If that is the case, then `city` is actually transitively dependent on `zip_code` and `customer_id`. According to 3NF, this can be another source of update errors. 

In this case, 3NF means you should move `city` into another table called `city`:

- **Customer Table** 
- customer_id
- zip_code
- city_id


- **City Table**
- city_id
- city

# Think about it

What about the `immune_pathway` column in `pathway`? What two columns is it *transitively dependent* on?

Ok, to remove our transitive dependency we need to do three things:

1. Pull out `immune_pathway` from `pathway` into its own table `imm_path` with an `id` variable.
2. Create a temporary table that maps the `immune_pathway` variable to the `id` variable

In [124]:
%%sql
    --drop our table if it exists
    DROP TABLE IF EXISTS imm_path;
    
    CREATE TABLE imm_path AS
        (SELECT DISTINCT immune_pathway 
         FROM pathway);
        
    ALTER TABLE imm_path
        ADD COLUMN id SERIAL PRIMARY KEY;
    
    SELECT * FROM imm_path;

 * postgresql://postgres:***@localhost:5433/ensembl
Done.
2 rows affected.
Done.
2 rows affected.

[(False, 1), (True, 2)]

Now we create our temporary table `temp_ip_id`. (I tried to add the column as a ADD COLUMN, but it doesn't work.)

In [125]:
%%sql
    DROP TABLE IF EXISTS temp_ip_id; 

    CREATE TABLE temp_ip_id AS
       (SELECT ip.id AS ip_id, ip.immune_pathway
            FROM pathway AS p
            INNER JOIN imm_path as ip
            ON p.immune_pathway = ip.immune_pathway);
        
    SELECT * FROM temp_ip_id;

 * postgresql://postgres:***@localhost:5433/ensembl
Done.
3 rows affected.
3 rows affected.

[(2, True), (2, True), (1, False)]

To add our derived column to our `pathway` table, we need to:

1. Create a column in `pathway`
2. Update the column using `SET` and matching up the columns
3. Drop our original `immune_pathway` column
4. Drop our temporary table `temp_ip_id`.

In [127]:
%%sql
    ALTER TABLE pathway
    ADD COLUMN ip_id INTEGER; --we need to add a new column here

    UPDATE pathway --using update
        -- set the ip_id 
        SET ip_id = ti.ip_id  
        FROM   temp_ip_id AS ti
        -- JOIN the two tables by immune_pathway 
        WHERE  pathway.immune_pathway = ti.immune_pathway;
        
    ALTER TABLE pathway
        DROP COLUMN immune_pathway;
    
    DROP TABLE temp_ip_id;
    
    SELECT * FROM pathway;

 * postgresql://postgres:***@localhost:5433/ensembl
Done.
3 rows affected.
Done.
Done.
3 rows affected.

[('R-HSA-168256             ', 'Immune System', 2, 2),
 ('R-HSA-913531             ', 'Interferon Signaling', 1, 2),
 ('R-HSA-382551             ', 'Transport of small molecules', 3, 1)]

# Was this worth it?

There are more normal forms, up to 6NF, but they aren't really used in practice.

Well, 3NF and reducing transitivity can be helpful in ensuring data integrity. But the truth is that sometimes it is too much. Let's talk more about that.

# When Should You Normalize?

## Pros of Normalization

- Ensures data integrity 
- Can reduce storage requirements
- Database querying can be more efficient because tables are smaller

## Cons of Normalization

- DB schemas become way more complex:
    - More tables, more relationships, more foreign keys!
- Harder to communicate and describe
    - Adds complexity to ER Diagram/Schema
- Makes queries much more complex
    - Can have performance issues

# Performance Issues in Relational Databases

Relational databases do have some limitations:

- **Size** - as more data is added, more storage space is needed
- **Performance** - as more data is added, slower performance

We can try to solve this issues by upgrading hardware:

- **Use distributed file systems**. This is called *sharding* and is different than the distributed file systems we've talked about.
- **Add More Storage Space**. Add more disk space.

We can also try to tune our database for performance:

- **Denormalize some tables** to speed up some queries
- **Drop secondary indexes** to increase loading efficiency
- **Precalculate popular queries** and store them as tables for faster querying

Again, database tuning is a black art and there is the concept of balancing data integrity and performance based on these solutions and the needs of the users. 

# Denormalizing

Sometimes we have to break these rules to make a query run faster. We might sacrifice a little data integrity to keep our variables grouped so that the query runs faster. This is called *denormalizing*, and there are no hard and fast rules for when to denormalize data. This is part of the art of Database Administration.

# What is Too Big for a Relational Database?

A lot of Big Data is too large for storing in a database. RDBMSes can handle millions of rows of data. What about Billions, though?

Another issue is that Big Data can rapidly become *stale*, or not useful, and storing it permanently may be 

Also, it may be hard to model the data appropriately
    - Lots of many to many relationships
    - Data may be sparse 
    - Data may have too much variety
  
    
# Introducting NoSQL

NoSQL (Not only SQL) databases were designed to handle this volume issue. We'll talk more about NoSQL next week and the different kinds of NoSQL DBs.

# Further Reading

- https://www.winshuttle.com/blog/6ways-dirty-data/  
- https://towardsdatascience.com/what-is-dirty-data-d96abbdf254e
- https://towardsdatascience.com/database-normalization-explained-53e60a494495
- https://support.microsoft.com/en-us/help/283878/description-of-the-database-normalization-basics 
- https://www.itprotoday.com/sql-server/sql-design-why-you-need-database-normalization
- http://agiledata.org/essays/dataNormalization.html

# Acknowledgements

This notebook was partially based on slides from Christina Zheng.